<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The 90th Minute</title>
</head>
<body>
  <h1>WELCOME to The 90th Minute</h1>
  <h2>Here we can discuss about football</h2>

  <h2>Want to see who and when send a message? <a href="/membership">Join the club</a></h2>

  <% if (isAuth) { %>
    <a href="/new-message">Create New Message</a>
  <% } %>

  <% if (messages) { %>
    <% for(const message of messages) { %>
      <article>
        <h3>Title: <%= message.title %></h3>
        <p><%= message.content %></p>
        <% if (isAuth) { %>
          <h5>Author: <%= message.author %>, Date: <%= formatTimestamp(message.publish_date) %></h5>
        <% } else { %>
          <h5>Author: Anonymous, Date: - </h5>
        <% } %>
      </article>
  <% }} %>
</body>
</html>