<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The 90th Minute</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <%- include("../partials/error") %>
  
  <form action="/auth/sign-up" method="post">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>

    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password: </label>
    <input type="password" name="password_hash" id="password" minlength="8" required>

    <label for="confirm_password">Confirm password: </label>
    <input type="password" name="confirm_password" id="confirm_password" minlength="8" required>

    <button type="submit">Sign up</button>
    <p>Already have an account? <a href="/auth/log-in">Log in</a></p>
  </form>
</body>
</html>